$primary-dark:#FF8A00;
$primary: #FFA100;
$primary-light:#FFC25A;
$primary-verylight:#FFF0D6;
 
$secondary-dark: #1E1E1E; 
$secondary: #5B5B5B;
$secondary-light: #A7A6A6; 
$secondary-verylight: #EBEBEC; 

$accent-dark:#c29200;
$accent: #FFC500;
$accent-light:#FFD95C;
$accent-verylight:#E9E9E9;
 

//for admin panel
$blaze-dark:#B77210;
$blaze: #FF9F16;
$blaze-light:#FFBF63;
$blaze-verylight:#FFEACC;


$white: #ffffff;
$black: #000000;

$success:#00ac1a;
$danger:#fe1111;