//My Theme Colors

$page-bg:#9b5b5e;

$theme-primary:  #720107;
$theme-primary-light:  #fda8ac;
$theme-primary-verylight:  #fdd7d8; 


$theme-accent:#bd0009;
$theme-accent-light:#ffa1a6;
$theme-accent-verylight:#fdd7d8; 

$theme-secondary:  #1b0001; 
$theme-secondary-light:  #5f5f5f; 
$theme-secondary-verylight:  #b3b3b3; 

$dark-page-bg:#000000;
$theme-heading:#b10009 ;