//My Theme Colors

$page-bg:#8292a0;

$theme-primary:  #003142;
$theme-primary-light:  #a8e6fd;
$theme-primary-verylight:  #ecf9ff;


$theme-accent:#005E80;
$theme-accent-light:#a8e6fd;
$theme-accent-verylight:#ecf9ff; 


$theme-secondary:  #001a24; 
$theme-secondary-light:  #273047; 
$theme-secondary-verylight:  #9DA4B4; 

$dark-page-bg:#1e2124;
$theme-heading:#005e80 ;

/* $theme-accent:#18fffc;
$theme-accent-light:#65fffc;
$theme-accent-verylight:#b6fffe; */