//My Theme Colors

$page-bg:#FFCC76;

$theme-primary-verylight:  #FFF0D6;
$theme-primary-light:  #FFC25A;
$theme-primary:  #FFA100;

$theme-secondary:  #1E1E1E; 
$theme-secondary-light:  #A7A6A6; 
$theme-secondary-verylight:  #E9E9E9; 

$theme-accent:#FFC500;
$theme-accent-light:#FFD95C;
$theme-accent-verylight:#FFEEB5;

$dark-page-bg:#241d11;
$theme-heading:#643f00 ;

.dark-mode{
    .bg-theme-accent{
        background-color: #1d1d1d!important;
        color:white!important;
    }
    .border-theme-accent{
        border-color:#1d1d1d!important;;
    }
    .product-total{
        tr:last-child td{background-color:#1d1d1d!important; }
    }
}