//My Theme Colors

$page-bg:#85686e;
 
$theme-primary:#570130 ;
$theme-primary-light:rgb(252, 176, 217) ;
$theme-primary-verylight:#fde8f4 ;


$theme-accent:  #88004A;
$theme-accent-light:  #ffa0d4;
$theme-accent-verylight:  #fde8f4;


$theme-secondary:  #18000d; 
$theme-secondary-light:  #553f44; 
$theme-secondary-verylight:  #927f83; 

$dark-page-bg:#250b11;
$theme-heading:#30001a ;

/* .footer-right{background-color: $theme-primary-light!important;} */

/* $theme-primary:#ff476b ;
$theme-primary-light:#ff98ad ;
$theme-primary-verylight:#fdcdd6 ;


$theme-accent:  #a61d3b;
$theme-accent-light:  rgb(255, 145, 169);
$theme-accent-verylight:  #ffc6d3;


$theme-secondary:  #1f050b; 
$theme-secondary-light:  #553f44; 
$theme-secondary-verylight:  #927f83; 

$dark-page-bg:#250b11;

$theme-heading:#cc0029 ; */