//My Theme Colors

$page-bg:#e4e4e4;


$theme-primary:  #646464;
$theme-primary-light:  #ececec;
$theme-primary-verylight:  #f7f7f7;


$theme-accent:#757575;
$theme-accent-light:#ececec;
$theme-accent-verylight:#f7f7f7; 

$theme-secondary:  #636363; 
$theme-secondary-light:  #5f5f5f; 
$theme-secondary-verylight:  #b3b3b3; 

$dark-page-bg:#4d4d4d;
$theme-heading:#424242 ;