//My Theme Colors

$page-bg:#768366;

$theme-primary:  rgb(29, 53, 0);
$theme-primary-light:  #bcdd93;
$theme-primary-verylight:  #effddd;

$theme-accent:#437B00;
$theme-accent-light:#bcdd93;
$theme-accent-verylight:#effddd;

$theme-secondary:  #141b00; 
$theme-secondary-light:  #4e5245; 
$theme-secondary-verylight:  #808379; 

$dark-page-bg:#32382a;
$theme-heading:#2f5500 ;
